<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.enlight.com">
    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读取网络状况-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--读取wifi状况-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--挂载的SD的写的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读取手机的设备信息如IMEI等-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name="com.enlight.android.common.application.ApplicationData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.enlight.android.view.MainIndexActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.enlight.android.view.GuidePageActivity"
            android:theme="@style/AppTheme.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>